body{
  background-color: $gray-lighter;
}

.site-content, .site-footer {
  background-color: white;
}

$home-bg: "/Content/Images/cep-graphic-bg.svg";
$pageheader-bg: "/Content/Images/cep-graphic-180-bg.svg";
$sidebar-bg: "/Content/Images/cep-sidebar-graphic-bg.svg";
