
.btn-theme {
  border: 0 none;
  padding: 12px 16px;
  font-weight: 800;
  letter-spacing: .5px;
  text-transform: uppercase;
  border-radius: 50px;
  text-decoration: none !important;
  font-size: .75rem;

  &:hover, &:focus, &:active, &.active {
    text-decoration: none !important;
    outline: 0 none;
  }
}

.btn-theme-primary {
    background: $theme-primary;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-primary-dark;
    }
}

.intro .btn-theme-primary {
  &:hover, &:focus, &:active, &.active {
      color: #FFFFFF;
      box-shadow: 0 0 0 5px $theme-secondary-dark;
  }
}

.btn-theme-primary-outline {
    border: 2px solid $theme-primary;
    padding: 8px 18px;
    color: $theme-primary;
    border-radius: 50px;

    &:hover, &:focus, &:active, &.active  {
        background: $theme-primary;
        color: #FFFFFF;
        text-decoration: none !important;
    }
}

.btn-theme-secondary {
    background: $theme-secondary;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-secondary-dark;
    }
}

.btn-theme-secondary-outline {
    border: 2px solid $theme-secondary;
    @media print {border: 2px solid $gray-light;}
    padding: 8px 18px;
    color: $theme-secondary;
    border-radius: 50px;

    &:hover, &:focus, &:active, &.active  {
        background: $theme-secondary;
        color: #FFFFFF;
        text-decoration: none !important;
    }
}


.btn-theme-tertiary {
    background: $theme-tertiary;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-tertiary-dark;
    }
}

.btn-theme-tertiary-outline {
    border: 2px solid $theme-tertiary;
    padding: 8px 18px;
    color: $theme-tertiary;
    border-radius: 50px;

    &:hover, &:focus, &:active, &.active  {
        background: $theme-tertiary;
        color: #FFFFFF;
        text-decoration: none !important;
    }
}

.btn-theme-accent {
    background: $theme-accent;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        color: #FFFFFF;
        box-shadow: 0 0 0 5px $theme-accent-dark;
    }
}

.btn-theme-small-muted-outline {
    font-size: 10px;
    border: 2px solid $gray-500;
    padding: 8px;
    color: $gray-500;
    border-radius: 50px;

    &:hover, &:focus, &:active, &.active  {
        background: $theme-primary;
        color: #FFFFFF;
        text-decoration: none !important;
    }
}
