// #cep-projects, #cep-projects.carousel-caption, #cep-projects.carousel-item, #cep-projects img, {
//   max-height: 100vw;
//   @include media-breakpoint-down(sm){min-height: 80vw;}
//   @include media-breakpoint-up(lg){ max-height: 50vw;}
//   @include media-breakpoint-up(xl){ max-height: 35vw;}
// }

$carousel-height: 400px;

#cep-projects, #cep-projects .carousel-caption, #cep-projects .carousel-item, #cep-projects img {
  min-height: $carousel-height !important;
  max-height: $carousel-height !important;
}


#cep-projects {
  width: 100%;
  background-color: $gray-dark;
  position: relative;

  .carousel-caption {
    text-align: left;
    top: 0;
    display: flex;
    align-items: center;
    @include media-breakpoint-up(sm){margin-top: 40px;}


    h2 {
      font-size: 26px;
      line-height: 24px;
      font-family: $merriweather;
      font-weight: 900 !important;

      @include media-breakpoint-up(lg){
        font-size: 28px;
        line-height: 26px;
      }

      sup {
        font-family: $gotham;
        font-size: 0.6em;
        font-weight: normal;
      }
    }

    p {
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      display: -webkit-box !important;
      // display: none;

      @include media-breakpoint-up(sm){
        font-size: 14px;
        line-height: 24px;
      }

      @include media-breakpoint-up(md){
        -webkit-line-clamp: 3;
        display: -webkit-box !important;
      }
    }

    a.btn {
      @include media-breakpoint-down(xs){
        transform: scale(.6);
        transform-origin: top left;
      }
    }
  }

  .carousel-item {
    background-color: $gray;
    position: relative;
  }

  .carousel-photo {
    overflow: hidden;
    position: relative;
    padding: 0;
    display: flex;
    align-content: center;
    height: $carousel-height;

    img {
      align-self: center;
      mix-blend-mode: multiply;
      object-fit: cover;
    }
  }

  .carousel-control-next, .carousel-control-prev {
    &:hover, &:focus {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.carousel-controls{
  position: absolute;
  bottom: 15px;
  margin-left: 15%;
  z-index: 100;

  button {
      cursor: pointer;
      color: $theme-link-color;
      background-color: transparent;
      border: 0;
      padding: 3px;
      margin-bottom: 0;
      opacity: 40%;
  }

  button:hover {
      color: $theme-link-color-dark;
      text-decoration: none;
      outline: 3px solid $theme-link-highlight;
      outline-offset: 2px;
  }

  .active-button {
    opacity: 100%;
  }
}
