// Framework Colors
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-primary:             #0275d8;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;

// Global Colors
//

$twitter:                   #1da1f2;
$facebook:                  #3b5998;
$youtube:                   #ff0000;
$instagram:                 #c32aa3;
$rss:                       #F4911E;
$linkedin:                  #007bb5;
$snapchat:                  #fffc00;
$google:                    #4285f4;

$msu-green:                 #18453B;

// Theme Colors
// Custom Brand Colors for Site.

// In case you need more than three theme colors
// quaternary, quinary, senary, septenary, octonary, nonary, denary

/* RGB */
$color-1: rgba(107, 170, 117, 1.0);
$color-2: rgba(137, 216, 97, 1.0);
$color-3: rgba(0, 125, 125, 1.0);
$color-4: rgba(196, 69, 54, 1.0);
$color-5: rgba(255, 255, 255, 1);
$color-6: rgba(73, 53, 72, 1.0);
$color-7: rgba(0, 77, 77, 1.0);
$color-8: rgba(68, 89, 84, 1.0);
$color-9: rgba(242, 240, 218, 1.0);


$theme-primary:             $color-3;
$theme-primary-light:       lighten($theme-primary, 5%);
$theme-primary-dark:        darken($theme-primary, 10%);
$theme-primary-faded:       rgba(3, 144, 159, 0.3);

$theme-secondary:           $msu-green;
$theme-secondary-dark:      darken($theme-secondary, 5%);

$theme-tertiary:            $color-1;
$theme-tertiary-dark:       darken($theme-tertiary, 5%);

$theme-accent:            	$color-4;
$theme-accent-dark:       	darken($theme-accent, 15%);

$theme-link-color:          $color-1;
$theme-link-color-dark:     darken($theme-link-color, 15%);

$theme-link-highlight:      $color-2;

$faded-green:               rgba(128, 171, 162, 1);
$faded-green-30:            rgba(128, 171, 162, 0.3);

$black-alpha-10:            rgba(0, 0, 0, 0.1);
$black-alpha-20:            rgba(0, 0, 0, 0.2);
$black-alpha-30:            rgba(0, 0, 0, 0.3);
$black-alpha-40:            rgba(0, 0, 0, 0.4);
$black-alpha-50:            rgba(0, 0, 0, 0.5);
$black-alpha-60:            rgba(0, 0, 0, 0.6);
$black-alpha-70:            rgba(0, 0, 0, 0.7);
$black-alpha-80:            rgba(0, 0, 0, 0.8);
$black-alpha-90:            rgba(0, 0, 0, 0.9);

.theme-gradient {
  background: linear-gradient(270deg, $theme-tertiary 0%, $theme-primary 100%);
}

$theme-gradient: linear-gradient(270deg, $theme-tertiary 0%, $theme-primary 100%);
$theme-gradient-dark:  linear-gradient(90deg, $msu-green 0%, $theme-primary 100%);

// Profile Colors
// Colors specifically for the profile header section on the
// individual people pages

$profile-bg:               	transparent;
$profile-heading-color:     $theme-accent;
$profile-text-color:        $gray;
$profile-email-bg:          $theme-primary-dark;
$profile-email-text-color:  white;
$profile-email-link-color:  white;

// Logo Colors
// Site logo is an SVG and fill colors are set here

.cls-1,.cls-2 {fill:#FFFFFF;}
.cls-2 {opacity:0.5;}

@media print {
    .cls-1 {fill:#000000;}
    .cls-2 {fill:#AAAAAA;}
}

.disabled > a {
    color: $theme-primary-dark !important;
    &:hover {color: $theme-primary !important;}
}
