@media (min-width: 1628px){
  .site-header, .site-content, .site-footer {
    width: 1628px !important;
    margin: 0 auto;
  }
}

.site-header {
  background-image: url($pageheader-bg), $theme-gradient;
  background-repeat: no-repeat;
  background-blend-mode: multiply, normal;
  background-size: cover;
  background-position: center;
  z-index: 1000;
  position: relative;
}

.home .site-header {
  background-image: url($home-bg), $theme-gradient;
  background-position: center top;
}

.site-branding {
  margin-top: 10px;

  h1 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4;
    @include media-breakpoint-up(md){
      font-size: 1.55rem;
    }

    a {color: white;}
  }

  p {
    color: white;
    margin: 0;
    line-height: 1.5;
    margin-left: 2px;
    font-size: 14px;

    @include media-breakpoint-up(md){
      font-size: 1rem;
    }
  }
}

.site-navigation {
  background-color: red;
  margin-top: 10px;
  padding: 8px 0;

  nav {
    margin-top: 0;
  }
}

.site-nav {
  position: relative;
  z-index: 1000;
  padding: 12px;
  display: block;
  @include media-breakpoint-up(lg){display: flex;}

  .nav-link{
    font-weight: bold;
  }

  li {
    @include media-breakpoint-down(md){border-bottom: 1px solid #444;}

    a {
    	color: white;
    	font-weight: 500;
    	font-size: 14px;
      padding: 4px 10px;
      margin-right: 2px;
      position: relative;
      z-index: 10;
      @include media-breakpoint-up(xl){margin-right: 10px;}

      text-decoration: none !important;
      display: flex;
      align-items: center;

      &:hover, &:focus {
        background-color: $theme-primary-dark !important;
        @include media-breakpoint-down(md){ background-color: transparent !important; }
        color: white;
        position: relative;
        z-index: 1;

        &::before { color: inherit; }
        &::after { color: inherit; }
      }

      &.active {
        background-color: $theme-primary-light;
        color: white;

        &:hover, &:focus {
          background-color: $theme-primary-dark;
          color:white;
        }
      }
    }

    &:last-child {
      a {margin-right: 0;}
    }
  }

  li.show {
    a {
      &:hover, &:focus {

      }
    }
  }

  .dropdown-menu {
    background-color: $theme-primary-dark !important;
    border: none !important;
    padding: 15px 10px;
    top: 0px !important;
    width: calc(100% - 26px) !important;
    position: relative;

    span {
      display: block;

      a[href="#"]{
        opacity: .5;
      }
    }

    @include media-breakpoint-up(md){
      top: 6px !important;
      width: auto !important;
      border-top: none !important;
    }
  }

  .dropdown-divider {
    border-top: 1px solid $theme-primary;
  }

  .dropdown-item {
    &:hover, &:focus {
      background-color: $theme-primary !important;
    }
  }
}

.dm-target{
  @include media-breakpoint-down(md){
    margin-left: 15px;
  }
}

.theme-callout {
  background: $theme-gradient;
  background-size: cover;
  background-position: center right;
  padding: 60px 30px;
  border-radius: 10px;

  hr {
    background-color: white;
    margin-bottom: 20px;
    mix-blend-mode: overlay;
  }
}

ul.presentations li {
  padding-bottom: 20px;
  border-bottom: 1px solid $gray-500;
  margin-bottom: 30px;

  a {font-weight: bold;}
}

.card-person {
  font-size: 1.3rem;
}

.container-fluid:has(.sidebar){
  @include media-breakpoint-up(md) {
    background-image: linear-gradient(90deg, #DDDDDD 0%, #DDDDDD 20%, #FFFFFF 20%, #FFFFFF 100%);
  }
}

.sidebar {
  background-image: url($sidebar-bg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  background-blend-mode: multiply;
  background-color: #DDDDDD !important;
  
  line-height: 1.2;

  a:not(.btn) {
    &:hover, &:focus {
      margin-bottom: 0 !important;
      border-bottom: none !important;
    }
  }
}

li:has(.subnav-header) {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subnav-header {
  padding: 6px 10px;
  display: inline-block;
}

.sidebar-subnav {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 15px;
  border-left: 4px solid $theme-primary;
}