#cep-feature-projects, #cep-feature-projects .carousel-item, {
  min-height: 500px;
  @include media-breakpoint-up(lg){min-height: 400px;}
  @include media-breakpoint-up(xl){min-height: 500px;}
}

#cep-feature-projects {
  background-image: url($home-bg), linear-gradient(90deg, $msu-green 0%, $theme-primary 100%);
  background-size: cover;
  background-position: center -190px;
  background-blend-mode: screen, normal;
  background-repeat: no-repeat, repeat;
  position: relative;

  .carousel-caption {
    text-align: left;
    top: 0;
    display: flex;
    align-items: center;


    h2 {
      font-size: 24px;
      line-height: 22px;
      font-family: $merriweather;
      font-weight: 900 !important;

      @include media-breakpoint-up(lg){
        font-size: 30px;
        line-height: 28px;
      }

      sup {
        font-family: $gotham;
        font-size: 0.6em;
        font-weight: normal;
      }
    }

    p {
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      display: -webkit-box !important;
      padding-right: 30px;
      // display: none;

      @include media-breakpoint-up(sm){
        font-size: 14px;
        line-height: 24px;
      }

      @include media-breakpoint-up(md){
        -webkit-line-clamp: 3;
        display: -webkit-box !important;
      }
    }

    a.btn {
      @include media-breakpoint-down(xs){
        transform: scale(.6);
        transform-origin: top left;
      }
    }
  }

  .carousel-item {
    //background-color: $gray;
    //position: relative;
  }

  .project-photo {
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    padding: 0;
    display: flex;
    align-content: center;
    height: 50%;
    @include media-breakpoint-up(lg){height: 80%;}
    @include media-breakpoint-up(xl){height: 90%;}

    img {
      align-self: center;
      border-radius: 12px;
      object-fit: cover;
    }
  }

  .carousel-control-next, .carousel-control-prev {
    &:hover, &:focus {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.carousel-controls{
  position: absolute;
  bottom: 15px;
  margin-left: 15%;
  z-index: 100;

  button {
      cursor: pointer;
      color: $theme-link-color;
      background-color: transparent;
      border: 0;
      padding: 3px;
      margin-bottom: 0;
      opacity: 40%;
  }

  button:hover {
      color: $theme-link-color-dark;
      text-decoration: none;
      outline: 3px solid $theme-link-highlight;
      outline-offset: 2px;
  }

  .active-button {
    opacity: 100%;
  }
}
