.intro {
  // background-image: url($home-bg), linear-gradient(90deg, $msu-green 0%, $theme-primary 100%);
  // background-size: cover;
  // background-position: center -190px;
  // background-blend-mode: screen, normal;
  // background-color: white;
  background-color: $color-9;
  min-height: 300px;
  display: flex;
  align-items: center;
  padding-top: 15px;
}

// .intro-text {
//   color: white;
//   margin-bottom: 15px;
// }

.intro-photo{
  object-fit: cover;
  position: relative;
  margin-top: 15px;
  margin-bottom: 30px;

  img {
    border-radius: 12px;
    @include media-breakpoint-down(sm){
      margin-bottom: 20px;
    }
  }
}

.projects-list {

    h2 {
        font-family: $source-serif;
        font-weight: 800;
        font-size: 36px;
        margin-bottom: 30px;
    }

    ul {
        list-style-type: none;
        padding: 0;

        h3 {
            font-weight: 800;
            font-size: 1.5rem;
            border-bottom: $theme-secondary solid 5px;
            margin-top: 30px;
            padding-bottom: 10px;
            line-height: 26px;
            // display: inline-block;
            color: $theme-primary;

            img {
                margin-bottom: 10px;
            }
        }

        li {
            margin-bottom: 40px;

        }
    }

    a:not(.btn) {
      display: block;
      max-height: 330px;
      overflow: hidden;
      border-radius: 8px;
    }

    .project-caption {
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      display: -webkit-box !important;
    }
}

// .project-categories {
//   min-height: 260px;
//   display: flex;
//   align-items: center;
//   background-image: url($home-bg), linear-gradient(180deg, #AD123C 0%, #F68D3D 50%, #017DC3 50%, #59ACC5 100%);

//   @include media-breakpoint-up(md){
//     background-image: url($home-bg), linear-gradient(90deg, #AD123C 0%, #F68D3D 50%, #017DC3 50%, #59ACC5 100%);
//   }

//   background-size: cover;
//   background-position: center -190px, center, center;
//   background-blend-mode: screen, normal, normal;
//   background-repeat: no-repeat;

//   color: white;
  
//   a {
//     color: white;
//   }
// }

// .oos-time, .ece {
//   padding: 30px;

//   ul{
//     padding-left: 20px;    
//   }
// }

.project-categories {
    background-image: url($home-bg), linear-gradient(90deg, $msu-green 0%, $theme-primary 100%);
    background-size: cover;
    background-position: center -190px;
    background-blend-mode: screen, normal;
    background-color: $color-9;
    min-height: 320px;
    display: flex;
    align-items: center;
    padding-top: 15px;
    color: white;

    a {
      color: white;
    }

    .project-category {
      background-image: url($home-bg), linear-gradient(90deg, $msu-green 0%, $theme-primary 100%);
      background-repeat: repeat, no-repeat;
      background-size: 320%, cover;
      background-position: center -200px, center;
      background-blend-mode: screen, normal;
      padding: 30px;
      border-radius: 12px;

      margin: 10px 15px 20px 15px;
      
      ul{padding-left: 20px;}
    }


    .oos-time {
      background-image: url($home-bg), linear-gradient(35deg, #009245 0%, #61A62F 100%);
    }

    .ece {
      background-image: url($home-bg), linear-gradient(35deg, #017DC3 0%, #479FBD 100%);
    }
}