.subpage-header{

  .subpage-title {
    color: white;
    font-family: $source-serif;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;

    h1 {
      font-size: 3rem;
    }
  }

  .project-subpage {
    background-position: center, center;
    background-image: url($home-bg), $theme-gradient-dark;
  }

  .tfcclc-subpage {
    background-position: center, center;
    background-image: url($home-bg), linear-gradient(-135deg, #7D579A, #313F76);
  }

  .gsrp-subpage {
    background-position: center, center;
    background-image: url($home-bg), linear-gradient(-135deg, #EE2A7B, #4D226D);
  }

  .cmp-subpage {
    background-position: center, center;
    background-image: url($home-bg), linear-gradient(-135deg, #B21E8E, #2E3192);
  }

  .yds-subpage {
    background-position: center, center;
    background-image: url($home-bg), linear-gradient(-135deg, #59ACC5, #017DC3);
  }

  .rubric-subpage {
    background-position: center, center;
    background-image: url($home-bg), linear-gradient(-135deg, #F68D3D, #AD123C);
  }
}

.subpage-section-title {
  font-family: $gotham;
  display: inline-block;
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: $black-alpha-60;
  padding: .5rem;
  margin-bottom: 10px;
}

#subpageNav {
  background-color: $color-6;
  width: 100%;

  @include media-breakpoint-up(lg){
    display: block;
  }

  .nav {
    width: 100%;
    }

  .disabled {opacity: .35;}
}

.subpage-header {
  //margin-bottom: 3rem;

  .subpage-nav {
    //background-color: $theme-primary;
    position: relative;
    z-index: 500;
    padding: 12px;
    display: block;
    @include media-breakpoint-up(md){display: flex;}

    li {
      a {
      	color: white;
      	font-weight: 600;
      	font-size: 14px;
        padding: 4px 10px;
        position: relative;
        z-index: 10;
        outline: none;
        margin-bottom: 0;
        border: none;
        @include media-breakpoint-up(sm){ margin-right: 10px; }

        text-decoration: none !important;
        display: flex;
        align-items: center;

        &:hover, &:focus {
          background-color: $theme-primary-dark !important;
          color: white;
          position: relative;
          z-index: 1;
          border-radius: 0.25rem;

          &::before { color: inherit; }
          &::after { color: inherit; }
        }

        &.active {
          background-color: $theme-primary-dark !important;
          color: white;
          border-radius: 0.25rem;

          &:hover, &:focus {
            background-color: $theme-primary-dark !important;
            color:white;
          }
        }
      }

      &:last-child {
        a {margin-right: 0;}
      }
    }

    .dropdown-menu {
      background-color: $theme-primary-dark !important;
      border: none !important;
      padding: 15px 10px;
      top: 0px !important;
      width: calc(100% - 26px) !important;
      position: relative;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;

      span {
        border-left: 3px solid $theme-primary;
        display: block;
        margin-left: 5px;
        padding-left: 10px;

        a[href="#"]{
          opacity: .5;
        }
      }

      @include media-breakpoint-up(md){
        top: 10px !important;
        width: auto !important;
        border-top: none !important;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
    }

    .dropdown-menu[x-placement^="top"] {
      @include media-breakpoint-down(md){
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
    }

    .dropdown-item {
      &:hover, &:focus {
        background-color: $theme-primary-dark !important;
      }
    }
  }
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.feature-image {
  height: 300px;
  overflow: hidden;
  margin-bottom: 3rem;
  display: flex;

  img {
    align-self: center;
  }
}
