@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,700;0,900;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;0,900;1,700;1,900&display=swap');

$gotham: 'Gotham SSm A', 'Gotham SSm B', arial, sans-serif;

.gotham {font-family: $gotham;}

$source-serif: 'Source Serif Pro', serif;

.source-serif-pro, .ssp {
	font-family: $source-serif;
}

$merriweather: 'Merriweather', serif;

.merriweather {
	font-family: $merriweather;
}

body {
	font: 16px/28px $gotham;
	color: $gray-dark;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-moz-osx-font-smoothing: grayscale; /* Fix for firefox rendering */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
}

h1 { font: 48px/34px;}

h2 { font: 30px/32px;}

.fax a {
    color: $gray !important;
}

abbr {
	text-decoration: none;
}
